TD{
   

    
    border:none;
	padding:6px 0 6px 0;
	border-radius:10px;
	box-shadow:3px 3px 12px #999;
	background:#fff;
    height: 300px;
    width: 300px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
   color: black;

}
TABLE{
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px 10px; 
}
#imageminiature{
    border-radius: 100px;
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    box-shadow:10px 10px 10px #aaa;


}
#etoiles{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#productname{
    border-top:3px solid #4753f3;
    border-radius:75%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
   color: black;
   text-decoration: unset;



}

#searchbox{
    background-color:goldenrod;
    box-shadow:3px 3px 12px #999;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 900px;
    border-radius:30px;
    text-align: left;
    padding-left: 40px;
    padding-top:8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}