/*html, body {
	height: 100%;
	margin: 0; padding: 0;
}*/
.foot_body {
	position: relative;
	display : table;
	width: 100%;
}

.foot_page {
	position: absolute;
	bottom: 0;
	left: 0; 
	right: 0}
	display : table-row;
	height: 100px; /* à titre d'exemple */
}
	

.premierul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.premierli {
  float: left;
}

.premierlia {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.premierlia:hover {
  background-color: #111;
}
